@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --dark: rgb(49, 49, 49)
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--dark);
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 5px;
  width: 20vw;
  height: 20vh;
  padding: 1.25rem;

  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;

  background-color: rgba(12, 12, 14, .95);

  transition: 0.1s ease-in;
  cursor: pointer;

  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: white;
}

#modal > * {
  height: 30%;
}

#modal > h1 {
  font-size: 2.5rem;
}

#modal > p {
  display: flex;
  align-items: center;

  font-weight: 300;
  font-size: 60%;
}

#modal > p > span {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 500;
  margin-left: 0.5rem;
}

input {
  caret-color: transparent;
}

#total-hints {
  color: white;
  margin-left: 1rem;
  font-weight: 400;
  height: 50%;
}

#score {
  color: white;
  margin-left: 1rem;
  font-weight: 400;
  height: 50%;
}

.icon {
  color: white;
  height: 50%;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.9;
}

.button {
  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;

  background-color: rgba(12, 12, 14, .7);
  color: white;

  width: 50%;

  margin-top: 0.75rem;

  font-weight: 600;

  transition: 0.1s ease-in;
}

#word {
  color: rgb(255, 140, 50)
}

.text {
  color: white;
}

.title-text {
  font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: auto;
  margin-bottom: auto;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 330px;
  height: 390px;

  background-color: rgb(31, 31, 31);
  border: 2px solid rgb(63, 66, 66);
  border-radius: 5px;
}

.column {
  display: flex;

  margin-left: 5px;
  margin-right: 5px;

  justify-content: space-between;
  align-items: center;
}

#keyboard {
  margin-top: 1rem;
  width: 150%;
}

.keyboard-row {
  display: flex;

  width: 100%;
  height: 3rem;
}

.keyboard-button {
  width: 25%;

  border: 2px solid rgb(12, 12, 14);
  background-color: rgba(35, 35, 38, 0.2);
  transition: 0.1s ease-in;
  cursor: pointer;

  text-align: center;
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
}

.keyboard-button::selection {
  background: transparent;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5px;
  width: 50px;
  height: 50px;

  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
  background-color: rgba(96, 139, 168, 0.2);

  transition: 0.1s ease-in;
  cursor: pointer;

  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: white;
}

.tile::selection {
  background: transparent;
}

.tile:hover {
  opacity: 0.9;
}

.tile-wrong {
  background-color: rgba(255, 0, 0, 0.2);
}

.tile-right {
  background-color: rgba(0, 255, 0, 0.2);
}

.tile-warning {
  background-color: rgba(255, 191, 0, 0.2);
}

.no-select {
  pointer-events: none;
}

.navbar {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 60px;
  height: 100%;
  width: 100%;
  background-color: rgb(31, 31, 31);
}

.navbar > * {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-logo {
  position: absolute;
  height: 1.5rem;
  left: 44%;
  scale: 0.8;
  filter: invert(1);
}

.navbar-title {
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: aliceblue;
}

#notification-box {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  bottom: -25rem;

  width: 100%;
  height: 2rem;

  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
  background-color: rgba(96, 139, 168, 0.2);

  transition: 0.1s ease-in;
  cursor: pointer;

  font-size: 0.85rem;
  text-align: center;
  font-weight: 300;
  color: white;
}

@media only screen and (max-width: 480px) {
  #keyboard {
    width: 100%;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .icon {
    height: 100%;
    font-size: 1.5rem;
  }

  .navbar-logo {
    display: none;
  }

  #modal {
    width: 90%;
  }

  #total-hints {
    display: none;
  }

  #score {
    display: none;
  }
}